.product-list-item {
    padding: 15px;
    border: 2px solid rgb(77, 0, 128);
    .product-title {
        margin: 5px;
        font-size: 24px;
        color: rgb(77, 0, 128);
    }
    .product-desc {
        margin: 5px;
        font-size: 20px;
    }
    .product-features {
        margin: 10px;
        font-size: 18px;
        span {
            font-weight: bold;
        }
    }
    .product-price {
        font-size: 20px;
    }
    .product-img {
        margin-bottom: 20px;
        text-align: center;
        img {
            width: 150px;
            height: auto;
        }
    }
    .product-quantity {
        display: flex;
        margin: 15px 0 15px 0;
        justify-content: center;
    }
}
.but-wrap {
    display: flex;
    justify-content: center;
}
